<% if(user.Cart.Items.length==0){ %>

    <%- include('./_empty-cart.ejs'); %>

<% }else{ %>
    
<section id="order-summary" class="p-8">

    <div class="flex items-center mx-auto w-full lg:w-1/2 mb-2">
        <img src="images/cart-black.png" alt="" class="mr-2">
        <span class="font-bold text-xl">Order Summary</span>
    </div>

    <ul class="w-full lg:w-1/2 mx-auto border-t-2 mb-4">
        <% user.Cart.Items.forEach(function(item){
            let pizza=item.Pizza; %>

            <li class="border-b-2 p-2" id="<%= pizza._id %>">

                <div class="flex items-center justify-between w-full mb-2">
                    <div class="flex items-center w-3/5">
                        <img src="<%= pizza.Image %>" alt="" height="70px" width="70px" class="mr-2">
                        <span class="text-lg"><%= pizza.Name %></span>
                    </div>
                    <span class="w-2/5 text-right uppercase text-gray-500"><%= pizza.Type %></span>
                </div>


                <div class="flex justify-between mb-2">
                    <div class="flex items-center w-1/2">
                        <% if(item.Quantity==1){ %>
                            <div class="flex items-center border px-3 py-2 h-10 text-gray-400 hidden"><i class="fas fa-minus cursor-pointer"></i></div>
                            <div class="flex items-center border px-3 py-2 h-10 text-gray-400"><i class="fas fa-trash-alt cursor-pointer"></i></div>
                        <% }else{ %>
                            <div class="flex items-center border px-3 py-2 h-10 text-gray-400"><i class="fas fa-minus cursor-pointer"></i></div>
                        <div class="flex items-center border px-3 py-2 h-10 text-gray-400 hidden"><i class="fas fa-trash-alt cursor-pointer"></i></div>
                        <% } %>
                        <div class=" flex items-center border px-3 py-2 h-10 text-lg font-bold"><span class="text-center item-qty"><%= item.Quantity %></span></div>
                        <div class=" flex items-center border px-3 py-2 h-10 text-gray-400"><i class="fas fa-plus cursor-pointer"></i></div>
                    </div>
    
                    <span class="text-xl font-bold text-right w-1/2 item-price">&#x20B9;<%= item.Quantity*pizza.Price %></span>
                </div>
            
            </li>

        <% }) %>
    </ul>

    <div class="mx-auto w-full lg:w-1/2 text-right font-bold text-xl mb-4">
        <span>Total Amount:</span> &nbsp;
        <span class="cart-total-amt">&#x20B9;<%= user.Cart.TotalPrice %></span>
    </div>


    <!-- Form -->
    <form action="/orders/place-order" method="post" class="text-right mx-auto w-full lg:w-1/2">

        <input class="border-2 w-1/2 mb-2 rounded focus:outline-none focus:shadow-outline leading-tight text-gray-700 py-2 px-3" type="tel" name="Phone" placeholder="Phone Number" required pattern="[0-9]{10}"><br>

        <input class="border-2 w-1/2 mb-2 rounded focus:outline-none focus:shadow-outline leading-tight text-gray-700 py-2 px-3" type="text" name="Address" placeholder="Address" required><br>

        <button class="rounded-full border px-4 py-2 mt-2">
            Order Now
        </button>

    </form>
    
</section>


<% } %>

